<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="login-wrapper">
  <div [ngClass]="{ container: true, 'right-panel-active': rightPanelActive }" id="container">
    <!-- <div class="form-container sign-up-container">
      <form (ngSubmit)="onRegister()">
        <h1>Create Account</h1>
        <span>Use your data for registration</span>
        <input
          type="text"
          [(ngModel)]="nombrer"
          name="nombrer"
          placeholder="Name"
        />
        <input
          type="email"
          [(ngModel)]="emailr"
          name="emailr"
          placeholder="Email"
        />
        <input
          type="password"
          [(ngModel)]="passwordr"
          name="passwordr"
          placeholder="Password"
        />
        <button type="submit">Register</button>
        <p *ngIf="errorr" style="color: rgb(255, 0, 0)">{{ errorr }}</p>
      </form>
    </div> -->

    <!-- Sign In Form -->
    <div class="form-container sign-in-container">
      <form (ngSubmit)="onLogin()">
        <h1>Comenzar</h1>
        <div class="outlined-input">
          <input type="text" [(ngModel)]="email" name="email" required />
          <label>Usuario / Correo</label>
        </div>
        <div class="outlined-input">
          <input type="password" [(ngModel)]="password" name="password" required />
          <label>Contraseña</label>
        </div>

        <a href="#">Olvidates tu contraseña?</a>
        <button type="submit">Ingresar</button>
        <p *ngIf="error" style="color: rgb(255, 0, 0)">{{ error }}</p>
      </form>
    </div>   
        


    <!-- Overlay -->
    <div class="overlay-container">
      <div class="overlay">
        <!-- <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" (click)="toggleSignIn()">Sign In</button>
        </div> -->
        <div class="overlay-panel overlay-right">
          <h1 style="font-size: xx-large;"> Camintra </h1>
          <p>Creando nuevas integraciones y soluciones a corporaciones</p>
        </div>
      </div>
    </div>
  </div>
</div>